<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body ng-controller="todoCtrl">

<h2>My Todo List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.text"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

</body>
</html>
